{% include "/Templates/header.html" %}
<header>
<nav id="nav">
    <ul>
        <li><a href="/">Acount Manager App</a></li>
        <li><a href="{{logout}}" class="button">Salir</a></li>
    </ul>
</nav>
</header>
<!-- Main -->
<section id="main" class="container">
    <header>
        <h2>Eliminar Movimiento</h2>
        <p>Elimina el movimiento de tu cuenta.</p>
    </header>
    <span class="image featured"><img src="" alt=""/></span>
    <div class="box">

        <h3 style="text-align: center"><B>¿Desea eliminar el movimiento {{movement.title}} ?</B></h3>
        <p><B style="color: red"> *AVISO: </B>Si eliminas el movimiento no lo prodrás recuperar.</p>
        <form method="post" action="/delete?id={{movement.key.urlsafe()}}">
            <div class="col-12">
                <ul class="actions special">
                    <li><input class="small" type="submit" value="Eliminar"/></li>
                    <li><input class="small" type="button" value="Volver" onClick="history.go(-1);return true;"/>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</section>
{% include "/Templates/footer.html" %}

