{% include "/Templates/header.html" %}
<section id="main" class="container">
    <header>
        <h2>Error</h2>
        <p>se ha producido un error en la opeación.</p>
    </header>
    <span class="image featured"><img src="" alt=""/></span>
    <div class="box">
        <h3 style="text-align: center"><B>{{msg}}</B></h3>
            <div class="col-12">
                <ul class="actions special">
                    <li><input class="small" type="button" value="Volver" onClick="history.go(-1);return true;"/>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</section>
{% include "/Templates/footer.html" %}

