
<footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Iván Martínez Estévez. All rights reserved.</li>
            </ul>
        </footer>

</div>

<!-- Scripts -->
<script src="../Resources/js/jquery.min.js"></script>
<script src="../Resources/js/jquery.dropotron.min.js"></script>
<script src="../Resources/js/jquery.scrollex.min.js"></script>
<script src="../Resources/js/browser.min.js"></script>
<script src="../Resources/js/breakpoints.min.js"></script>
<script src="../Resources/js/util.js"></script>
<script src="../Resources/js/main.js"></script>
<script src="../Resources/js/validations.js"></script>

</body>

</html>
