{% include "/Templates/header.html" %}
<header>
    <nav id="nav">
        <ul>
            <li><a href="/">Acount Manager App</a></li>
            <li><a href="{{login}}" class="button">Acceder</a></li>
        </ul>
    </nav>
</header>
<!-- Main -->

<section id="main" class="container">
    <header>
        <h2>Inicia sesión en AM-App </h2>
        <p>Administra tus gastos e ingresos con Account Manager App.</p>
    </header>
    <span class="image featured"><img src="" alt=""/></span>
    <h3><B>Día {{today}} </B></h3>

</section>
{% include "/Templates/footer.html" %}

